* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 80px;
    padding: 5px 50px;
    z-index: 999;

    background-color: rgb(60, 58, 58);
    color: white;
    border-bottom: 10px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header-left {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#header-left > * {
    margin-left: 10px;
    font-size: 3.4rem;
}

#user-avatar {
    position: relative;
}

#user-actions {
    position: absolute;
    left: -155px;
    top: 60px;
    width: 200px;
    background-color: rgb(75, 74, 74);
    border: 2px solid rgba(182, 182, 182, 0.83);
    border-radius: 5px;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.action > span {
    display: inline-block;
    width: 190px;
    height: 40px;
    /* background-color: black; */
    border-radius: 5px;
    font-size: 1.1rem;
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.action > span:hover {
    color: rgb(182, 194, 254);
    background-color: rgba(49, 46, 129, 0.75);
}

.action > span#profile {
    font-size: 1.25rem;
    padding-top: 8px;
    text-decoration: none;
    color: white;
}

.divider {
    height: 1px;
    width: 185px;
    margin-left: 5px;
    border-bottom: 1px white solid;
}

#header-right {
    padding-right: 30px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
}

#header-right > * {
    margin-right: 25px;
}
/* for authentication */
#create-article {
    display: inline-block;
    height: 100%;
    /* background-color: aliceblue; */
    text-align: center;
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 10px;
    border: solid 2px rgb(20, 218, 225);
    color: rgb(20, 218, 225);

    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    align-items: center;
}

/* Notification System */

#notification-unread {
    position: absolute;
    background-color: red;
    top: -5px;
    right: -8px;
    font-size: 1rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    border-radius: 50%;
}

#unread-count {
    text-align: center;
}

#notification {
    color: white;
    font-size: 2rem;
    border-radius: 50%;
    padding: 7px;
    position: relative;
    cursor: pointer;
}

#notification:hover {
    outline: 3px solid red;
}

#notification-container {
    position: absolute;
    left: -210px;
    top: 55px;
    width: 245px;
    height: 400px;
    background-color: rgb(75, 74, 74);
    border: 2px solid rgba(182, 182, 182, 0.83);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    overflow-y: scroll;
}

#notification-container.hide {
    display: none;
}

#notification-container > .divider {
    width: 96%;
}

.notification {
    width: 100%;
    min-height: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 8px 15px;

    position: relative;
    opacity: 0.7;
}

.notification:hover {
    opacity: 1;
}

.notification-icon {
    font-size: 1.3rem;
    min-width: 30px;
    text-align: center;
    margin-right: 8px;
}

.notification-content {
    font-weight: normal;
    line-height: 1.4rem;
}

.notification-subject {
    font-weight: bolder;
    margin-left: 3px;
    margin-right: 3px;
}

.notification-time {
    position: absolute;
    bottom: 5px;
    right: 3px;
    font-weight: 100;
    font-size: 0.85rem;
    opacity: 0.7;
}

#notification-load {
    text-align: center;
    width: 95%;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 8px;
    padding: 8px;
    border-radius: 10%;
}

#notification-load:hover {
    color: rgb(182, 194, 254);
    background-color: rgba(49, 46, 129, 0.75);
}

/* -------------------------------- */

#avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

#avatar:hover {
    outline: 3px solid rgb(42, 227, 233);
}

/* for stranger */
#login-btn {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.507);
    border: 1px solid rgba(255, 255, 255, 0.62);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    height: 35px;
    width: 70px;
    margin-top: auto;
    padding-top: 3px;
}

#login-btn:hover {
    color: rgba(255, 255, 255);
    border: 1px solid rgba(255, 255, 255);
    transform: scale(1.1);
}

.hide {
    display: none;
}
