<article class="article">
    <div class="article-header">
        <img class="author-photo" src="/public/img/avater/default-3.jpg" alt="" />
        <div class="details">
            <span class="author">魚骨書籤</span>
            <span class="date">2022-04-18</span>
        </div>
        <i class="far fa-bookmark favorite"></i>
    </div>

    <p class="title">This is the title of the article.</p>

    <div class="categories">
        <span class="category">國際政治</span>
        <span class="category">投資理財</span>
    </div>

    <div class="preview">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Error praesentium unde alias ducimus voluptatem, ad reprehenderit facilis dolore dolorem odit, repudiandae et
        voluptatum recusandae qui explicabo atque quo tenetur ut est id. Amet asperiores ipsum debitis ipsam autem provident veniam ea. Commodi quo incidunt, asperiores tempora
        quia qui sunt nesciunt dolorem. Praesentium, repudiandae repellendus. Sunt delectus, et maiores cupiditate maxime fugiat aut quo reiciendis praesentium, consequuntur,
        similique distinctio quod? Corporis ad magnam cupiditate pariatur quia, doloremque molestias optio incidunt qui ea animi iusto ut? Aperiam qui maxime natus corporis nam
        dolor ratione deleniti, atque cupiditate! Ipsam, commodi est. Ipsum repudiandae accusamus amet debitis reprehenderit sapiente libero omnis atque recusandae cum, voluptates
        rerum minima eaque quod delectus iste labore quo ab, dolore maxime beatae fuga cupiditate. Eos harum numquam incidunt deserunt? Aliquam esse nam nihil dicta molestiae odit
        qui cum exercitationem, aspernatur vel eaque hic incidunt, sint quibusdam deleniti, quas consequatur.
    </div>

    <div class="article-footer">
        <div class="feedback read">
            <i class="far fa-eye"></i>
            <span class="count">150</span>
        </div>
        <div class="feedback like">
            <i class="fas fa-heart"></i>
            <span class="count">49</span>
        </div>
        <div class="feedback comment">
            <i class="far fa-comment-dots"></i>
            <span class="count">30</span>
        </div>
    </div>
</article>
