<div id="comment-board">
    <div id="comment-header">
        <p>留言<span id="comment-count"></span></p>
        <div id="board-remove-btn">
            <span id="close-board-btn">x</span>
        </div>
    </div>
    <div id="comment-container">
        <!-- display if no comment -->
        <div id="no-comment-box">
            <p>成為第一個留言的人吧</p>
        </div>
        <!-- display with comment -->
        <div class="comment-box">
            <div class="reader-comment">
                <div>
                    <a href="#" class="avatar-container">
                        <img class="reader-avatar" src="./img/avatar/default-2.jpg" alt="reader-avatar" />
                        <div class="reader-name">Tester-1</div>
                    </a>

                    <div class="comment-bubble">
                        <div class="comment-context"></div>
                    </div>
                </div>
                <span class="comment-time">3天前</span>
            </div>

            <div class="author-reply">
                <div>
                    <div class="reply-bubble">
                        <div class="reply-context"></div>
                    </div>
                    <a href="#" class="avatar-container">
                        <img class="author-avatar" src="./img/avatar/default-2.jpg" alt="reader-avatar" />
                        <div class="reply-name">Tester-1</div>
                    </a>
                </div>
                <span class="reply-time">5小時前</span>
            </div>
        </div>
        <div class="comment-divider"></div>
    </div>
    <div id="comment-footer">
        <!-- display when no login -->
        <div id="unauth-comment-footer">
            <p>想參與討論嗎？&#10;趕快登入來留言吧！</p>
            <button>登入</button>
        </div>
        <!-- display when login -->
        <div id="auth-comment-footer">
            <img src="" alt="user-avatar" />
            <textarea placeholder="留下你的想法吧" id="comment-edit"></textarea>
            <i id="comment-send" class="fas fa-paper-plane"></i>
        </div>
    </div>
</div>
