<div class="notification">
    <div class="notification-icon">
        <i class="fas fa-thumbs-up"></i>
    </div>

    <div class="notification-content">
        <span class="notification-subject">魚骨書籤</span>
        追蹤了你。
    </div>

    <span class="notification-time">一天前</span>
</div>

<div class="divider"></div>
<!-- --------------------------------------- -->
<div class="notification">
    <div class="notification-icon">
        <i class="fas fa-comment"></i>
    </div>
    <div class="notification-content">
        <span class="notification-subject">魚骨書籤</span>
        回復了你的文章。
    </div>
    <span class="notification-time">2022-02-15</span>
</div>

<div class="divider"></div>
<!-- --------------------------------------- -->
<div class="notification">
    <div class="notification-icon">
        <i class="fas fa-comments"></i>
    </div>
    <div class="notification-content">
        <span class="notification-subject">魚骨書籤</span>
        回復了你在'文章'的留言。
    </div>
</div>

<div class="divider"></div>
<!-- --------------------------------------- -->

<div class="notification">
    <div class="notification-icon">
        <i class="fas fa-file-alt"></i>
    </div>
    <div class="notification-content">
        你追蹤的作者
        <span class="notification-subject">魚骨書籤</span>
        發表了新文章，快去看看吧！
    </div>
    <span class="notification-time">2022-02-15</span>
</div>
<div class="divider"></div>
<!-- --------------------------------------- -->
