main {
    background-color: black;
    margin-top: 80px;
    min-height: calc(100vh - 80px);
    padding-top: 40px;
}

#navbar {
    /* border: 1px solid white; */
    color: white;
    position: fixed;
    top: 180px;
    left: 140px;
}

.navbar-item {
    font-size: 1.6rem;
    margin-bottom: 30px;
    opacity: 0.6;
    padding: 12px;
    padding-left: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-item.selected {
    opacity: 1;
    background-color: rgba(49, 46, 129, 0.9);
}

.navbar-item:hover {
    opacity: 1;
    background-color: rgb(49, 46, 129);
}

.navbar-icon {
    display: inline-block;
    width: 60px;
    text-align: center;
    /* background-color: aqua; */
}

.display {
    border: 1px white solid;
    margin-left: 450px;
    width: 900px;
    height: 300px;
}
