main {
    background-color: black;
    margin-top: 80px;
    min-height: calc(100vh - 80px);
    padding-left: 380px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

body {
    position: relative;
}

.lds-ripple {
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

#navbar {
    /* border: 1px solid white; */
    color: white;
    position: fixed;
    top: 120px;
    left: 100px;
}

.navbar-item {
    font-size: 1.6rem;
    margin-bottom: 30px;
    opacity: 0.6;
    padding: 12px;
    padding-left: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.navbar-item.selected {
    opacity: 1;
    background-color: rgba(49, 46, 129, 0.9);
}

.navbar-item:hover {
    opacity: 1;
    background-color: rgb(49, 46, 129);
}

.navbar-icon {
    display: inline-block;
    width: 60px;
    text-align: center;
    /* background-color: aqua; */
}

.display {
    width: 1000px;
}

/* ========== FAVORITE PAGE ========== */

.favorite-article {
    width: 90%;
    border-radius: 8px;
    background-color: rgb(71, 67, 67);

    padding: 25px;

    position: relative;
    margin-bottom: 40px;
}

.favorite-article > .fa-bookmark {
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
}

.favorite-article > .fa-bookmark:hover + .unfavorite-hint {
    display: block;
}

.favorite-article > .unfavorite-hint {
    color: black;
    font-weight: bolder;
    right: -55px;
    top: -15px;
    background-color: rgb(248, 248, 203);
    position: absolute;
    padding: 2px;
    display: none;
    border-radius: 2px;
}

.favorite-article > .title {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    padding-right: 20px;
    text-decoration: none;
}

.favorite-article > .title:hover {
    color: rgb(166, 163, 250);
}

.category-container {
    margin-top: 12px;
    margin-bottom: 15px;
    display: flex;
}

.category-container > .category {
    margin-right: 10px;
    background-color: rgb(90, 95, 100);
    color: rgba(255, 255, 255, 0.649);
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
}

.article-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    color: white;
}

.article-footer > .left {
    display: flex;
}

.favorite-artilce-author {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
}

.article-footer > .left > .name-date {
    margin-top: 2px;
    margin-left: 15px;
}

.name-date .author-name {
    text-decoration: none;
    color: white;
    font-size: 1.45rem;
}

.name-date .post-date {
    font-size: 1.05rem;
    margin-top: 5px;
}

.article-footer > .right {
    display: flex;
    font-size: 1.4rem;
    margin: auto -10px -17px auto;
}

.article-footer > .right > div {
    margin-left: 20px;
}

/* ========== SUBSCRIBE PAGE ========== */

/* 黑魔法 */

/* #subscribe-page {
} */

/* #subscribe-page > .category {
    display: inline-block;
    background-color: rgb(60, 61, 62);
    width: 300px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-top: 0px;
    border-top: 10px solid greenyellow;
}

.category > .category-name {
    display: inline-block;
    color: white;
} */

#subscribe-page {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#subscribe-page.hide {
    display: none;
}

#subscribe-page > .category {
    background-color: rgb(60, 61, 62);
    width: 300px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    margin-top: 0px;
    border-top: 10px solid rgb(237, 50, 69);
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
}

#subscribe-page > .category.subscribe {
    border-top: 10px solid greenyellow;
}

#subscribe-page > .category > .category-name {
    display: inline-block;
    color: white;
    font-size: 1.4rem;
    padding-bottom: 10px;
    font-weight: bolder;
}

#subscribe-page > .category > .category-weight {
    display: block;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(44, 44, 45);
    border: 1px solid rgba(148, 145, 145, 0.472);
    padding-top: 3px;
    padding-bottom: 3px;
}

/* subscribe status toggle */

#subscribe-page > .category > .subscribe-btn {
    display: inline-block;
}

#subscribe-page > .category > .category-weight {
    display: none;
}

#subscribe-page > .category.subscribe > .subscribe-btn {
    display: none;
}

#subscribe-page > .category.subscribe > .category-weight {
    display: block;
}

/* -------------------------- */

#subscribe-page > .category > .subscribe-btn {
    color: white;
    display: inline-block;
    width: 150px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 8px;
    text-align: center;
    align-self: center;
    padding-top: 3px;
    border-radius: 3px;
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.775);
}

#subscribe-page > .category > .subscribe-btn:hover {
    transform: scale(1.05);
}

#subscribe-page > .category > .subscribe-btn:active {
    transform: scale(0.95);
}

.category-divider {
    width: 90%;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 30px;
    background-color: rgba(141, 138, 138, 0.5);
}

#update-subscribe-btn {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: rgb(90, 93, 252);
    border-radius: 5px;

    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    letter-spacing: 1px;
    cursor: pointer;
}

#update-subscribe-btn:hover {
    transform: scale(1.05);
}
#update-subscribe-btn:active {
    transform: scale(0.95);
}

/* --------- followee page ---------- */
#followee-page {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#followee-page.hide {
    display: none;
}

.followee {
    background-color: rgb(74, 75, 76);
    color: white;
    display: flex;
    width: 300px;
    height: 80px;
    align-items: center;
    border-radius: 3px;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    /* border-left: 90px solid green; */
}

.followee:hover {
    transform: scale(1.03);
}

.followee:active {
    transform: scale(1);
}

.followee > img {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: -77px;
}

.followee > span {
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: 10px;
}

/* ---------- follower page ---------- */
#follower-page {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#follower-page.hide {
    display: none;
}

.follower {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(74, 75, 76);
    border-top: 50px solid rgb(255, 193, 47);
    width: 450px;
    height: 315px;

    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;

    margin-left: 30px;
    margin-bottom: 30px;
}

.follower-avatar {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    margin-top: -35px;
    cursor: pointer;
}

.follower-name {
    margin-top: 2px;
    font-size: 1.6rem;
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}

.follower-bio {
    width: 100%;
    margin-top: 10px;
    color: white;
    font-size: 1.2rem;
    height: 102.4px;
    /* background-color: aquamarine; */

    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.unfollow-btn {
    margin-top: 13px;
    color: white;
    background-color: rgb(62, 62, 255);
    padding: 10px 50px;
    border-radius: 10px;
    opacity: 0.7;
    cursor: pointer;
}

.unfollow-btn:hover {
    opacity: 1;
}

.unfollow-btn:active {
    transform: scale(0.95);
}

/* ----------- profile page ----------- */
#profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-page.hide {
    display: none;
}

#avatar-div {
    position: relative;
}

#profile-avatar {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: white;
}

#change-avatar-btn {
    font-size: 2rem;
    color: white;
    position: absolute;
    cursor: pointer;
    top: 13rem;
    left: 13rem;
}

#change-avatar-hint {
    position: absolute;
    top: 12rem;
    left: 15rem;
    width: 4.8rem;
    display: none;
}

#change-avatar-btn:hover ~ #change-avatar-hint {
    display: block;
}

#upload-avatar-hint {
    width: 5rem;
    position: absolute;
    top: -2rem;
    left: 5rem;

    display: none;
}

.hint {
    padding: 2px;
    color: black;
    font-weight: bolder;
    text-align: center;
    border-radius: 2px;
    background-color: rgb(248, 248, 203);
}

#profile-name {
    color: white;
    margin-top: 1rem;
    font-size: 1.8rem;
    border-bottom: 4px solid white;
    text-align: center;
    padding: 0px 30px 2px;
    position: relative;
}

#name-input {
    display: none;
    margin-bottom: 5px;
    font-size: 1.3rem;
    width: 220px;
    padding: 3px 10px;
    text-align: center;
}

#name-edit {
    font-size: 1.2rem;
    position: absolute;
    top: 0px;
    right: -10px;
    cursor: pointer;
}

#profile-bio {
    position: relative;
    color: white;
    font-size: 1.5rem;
}

#bio {
    color: white;
    background-color: rgb(70, 67, 67);
    margin-top: 20px;

    width: 800px;
    line-height: 2.2rem;
    padding: 35px;
    border-radius: 10px;
}

#bio.edit {
    background-color: rgb(189, 198, 207);
    color: black;
}

#bio-edit {
    position: absolute;
    top: 30px;
    right: 10px;
    cursor: pointer;
}

/* ---------- User's Article Page ---------- */
#user-articles-page {
    display: flex;
    flex-direction: column;
}

#user-articles-page.hide {
    display: none;
}

#tag-container {
    width: 250px;
    border-bottom: 3px solid white;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.tag {
    color: white;
    font-size: 1.4rem;
    cursor: pointer;

    padding: 5px 15px;
    border-radius: 5px;
    opacity: 0.8;
}

.tag:hover {
    background-color: rgba(44, 117, 236, 0.579);
}

.tag.selected {
    background-color: rgb(36, 105, 216);
    font-weight: bolder;
    opacity: 1;
}

#published-container {
    padding-left: 20px;
    padding-top: 30px;
}

.published-article {
    width: 90%;
    background-color: rgb(71, 67, 67);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    position: relative;
}

.published-edit {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    display: none !important;
}

.published-edit:hover + .published-edit-hint {
    display: block;
}

.published-edit-hint {
    color: black;
    font-weight: bolder;
    right: -60px;
    top: -20px;
    background-color: rgb(248, 248, 203);
    position: absolute;
    padding: 2px;
    border-radius: 2px;
    display: none;
}

.published-title {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.published-title:hover {
    color: rgb(101, 96, 255);
}

.published-category-container {
    margin: 10px auto 5px 3px;
}

.published-category {
    margin-right: 10px;
    background-color: rgb(90, 95, 100);
    color: rgba(255, 255, 255, 0.649);
    padding: 5px;
    border-radius: 5px;
    font-weight: bolder;
}

.published-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    font-size: 1.3rem;
    margin-left: 7px;
}

.published-date {
    font-size: 1.2rem;
}

.published-feedback {
    display: flex;
}

.published-feedback > * {
    margin-left: 24px;
}

/* ---------- Draft list ---------- */

#draft-container {
    padding-left: 20px;
    padding-top: 30px;
}

.draft {
    width: 90%;
    background-color: rgb(71, 67, 67);
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    position: relative;
}

.draft-title {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.draft-edit,
.draft-discard {
    font-size: 1.3rem;
    cursor: pointer;
    position: absolute;
}

.draft-edit {
    top: 5px;
    right: 35px;
}

.draft-discard {
    top: 5px;
    right: 5px;
}

.draft-date {
    font-size: 1.1rem;
    opacity: 0.6;
}
